body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #110307;
  color: #eab4d5;
  font-family: 'Courier';
}

a {
  color: #110307;
  text-decoration: none;
}

a:hover {
  color: #86284f;
}

hr {
  width: 100%;
  border: 1px solid #110307;
}

.menuSlide-entering {
  transform: translateX(-100vw);
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 4;
}

.menuSlide-entered {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms linear 500ms;
  position: absolute;
  top: 0;
  z-index: 4;
}

.menuSlide-exiting {
  transform: translateX(0);
  opacity: 1;
  position: absolute;
  top: 0;
  z-index: 4;
}

.menuSlide-exited {
  transform: translateX(-100vw);
  opacity: 0;
  transition: all 500ms linear;
  position: absolute;
  top: 0;
  z-index: 4;
}
